<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xz.match.mapper.UserTagMapper">

    <resultMap id="BaseResultMap" type="com.xz.match.model.entity.UserTag">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="tagId" column="tag_id" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <!--note 短短一个插入踩了三次坑-->
    <!--note 1. foreach写错了,没有左右括号-->
    <!--note 2. userId没有加 #{} 识别不了-->
    <!--note 3. userId没有放进for循环里面(这个好像无关紧要),并且tagId也没加#{}-->
    <insert id="saveTags" >
        insert into user_tag (user_id, tag_id) VALUES
        <foreach collection="tagIdList" item="tagId" separator=",">
            (#{userId}, #{tagId})
        </foreach>
    </insert>


</mapper>